* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@font-face {font-family: "Pokemon"; src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); }

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Pokemon';
  color: #ffcb05;
  background: #2a75bb;
  }

h1{
  margin: 5px;
  font-size: 90px;
}

p{
  margin:40px
}

section{
  display: grid;
  grid-template-columns: repeat(5, 21rem);
  grid-template-rows: repeat(2, 21rem);
  grid-gap: 2rem;
  perspective: 800px;
}

.card{
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s ease;
  box-shadow: rgba(0,0,0, 0.8) 0px 5px 15px;
}

.face, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back {
  background-image: url('imgs/back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
}

.flipCard{
transform: rotateY(180deg);
}